################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComponentPt1/.vs/ComponentPt1/FileContentIndex/c7dfe5a9-c45c-49da-bef0-b1b58b4bd006.vsidx
